@mixin progressbar_fill($d:horizontal) {
  $dir: if($d==vertical,right,bottom);
  $dir_2: if($d==vertical,top,left);
  background-image:    linear-gradient(to $dir,
	                      transparentize(#e2f1cb, 0.4),
	                      transparentize(#e2f1cb, 0.7) 50%,
	                      transparentize(#e2f1cb, 1.0) 51%,
	                      transparentize(#e2f1cb, 1.0)),
                    linear-gradient(to $dir_2,
                    transparentize(#D8F4A5, 0.1),  
                    transparentize(#D2F39A, 0.1) 2%,  
                    transparentize(#C5ED7F, 0.1) 8%,  
                    transparentize(#BCEB6D, 0.1) 10%,  
                    transparentize(#B5E860, 0.1) 13%,  
                    transparentize(#AEE551, 0.1) 16%,  
                    transparentize(#A9E345, 0.1) 18%,  
                    transparentize(#A3E039, 0.1) 21%,  
                    transparentize(#9DDD2D, 0.1) 24%,   
                    transparentize(#92D815, 0.1) 29%, 
                    transparentize(#8DD609, 0.1) 32%, 
                    transparentize(#6DB800, 0.1) 62%, 
                    transparentize(#69B200, 0.1) 67%, 
                    transparentize(#63A600, 0.1) 78%,  
                    transparentize(#61A000, 0.1) 82%, 
                    transparentize(#5B9200, 0.1));
	                              
}

@mixin toolbutton($t, $c:$bg_color, $tc:$fg_color, $edge: $borders_edge) {
//
// Button drawing function
//
// $t:    button type,
// $c:    base button color for colored* types
// $tc:   optional text color for colored* types
// $edge: set to none to not draw the bottom edge or specify a color to not
//        use the default one
//
// possible $t values:
// normal, hover, active, disabled, disabled-active,
// osd, osd-hover, osd-active, osd-disabled, , undecorated
//

  $_hilight_color: _button_hilight_color($c);
  $_button_edge: if($edge == none, none, _widget_edge($edge));
  $_blank_edge: if($edge == none, none, _widget_edge(transparentize($edge,1)));

  @if $t==normal {
  //
  // normal button
  //
    box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: $borders_color;
    background-image: linear-gradient(to bottom,
                                  lighten(#f2f2f2, 2%), 
                                  #ebebeb 50%,
                                  #dddddd 51%,
                                  lighten(#cfcfcf, 2%)
                                  );
    
  }

  @else if $t==hover {
  //
  // hovered button
  //
    box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: $selected_borders_color;
    background-image: linear-gradient(to bottom,
                                  #eaf6fd, 
                                  #d9f0fc 50%,
                                  #bee6fd 51%,
                                  #a7d9f5
                                  );

    
  }

  @else if $t==active {
  //
  // pushed button
  //
    box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
    color: $tc;
    outline-color: transparentize($tc, 0.7);
    border-color: $borders_color;
    background-image: linear-gradient(to bottom,
                                  #b9babd, 
                                  #c8cfe1 50%,
                                  #c8cee0
                                  );
  }
  @else if $t==disabled {
  //
  // disabled button
  //
    $_bg: if($c!=$bg_color, mix($c,$base_color,85%), $insensitive_bg_color);

    color: $insensitive_fg_color;
    border-color: $insensitive_borders_color;
    background-image: linear-gradient(to bottom, #eeeeef);
    text-shadow: none;
    -gtk-icon-shadow: none;
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    > .label { color: inherit; }
  }
  @else if $t==disabled-active {
  //
  // disabled pushed button
  //
    $_bg: if($c!=$bg_color, darken(mix($c,$base_color,85%),5%),
                            $insensitive_bg_color);
    $_bc: if($c!=$bg_color, _border_color($c), $insensitive_borders_color);

    color: if($c!=$bg_color, mix($tc,$_bg,60%), $insensitive_fg_color);
    border-color: $_bc;
    background-image: linear-gradient(to bottom, mix($_bc, $_bg, 10%), $_bg);
    // white with 0 alpha to avoid an ugly transition, since no color means
    // black with 0 alpha
    @include _shadows(inset 0 1px transparentize(white,1), $_button_edge);
    > .label { color: inherit; }
  }

  @else if $t==osd {
  //
  // normal osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.5),
                            $osd_bg_color);

    color: $osd_fg_color;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }
  @else if $t==osd-hover {
  //
  // active osd button
  //
    $_bg: if($c!=$bg_color, transparentize($c, 0.3),
                            lighten($osd_bg_color, 12%));

    color: white;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: inset 0 1px transparentize(white, 0.9);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: transparentize($osd_fg_color, 0.7);
  }
  @else if $t==osd-active {
  //
  // active osd button
  //
    $_bg: if($c!=$bg_color, $c, $osd_borders_color);

    color: white;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $_bg);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
    outline-color: transparentize($osd_fg_color, 0.7);
  }
  @else if $t==osd-disabled {
  //
  // disabled osd button
  //
    color: $osd_disabled_fg_color;
    border-color: $osd_borders_color;
    background-image: linear-gradient(to bottom, $osd_disabled_bg_color);
    background-clip: padding-box;
    box-shadow: none;
    text-shadow: none;
    -gtk-icon-shadow: none;
  }
  @else if $t==undecorated {
  //
  // reset
  //
    border-color: transparent;
    background-color: transparent;
    background-image: none;

    @include _shadows(inset 0 1px transparentize(white, 1),
                      $_blank_edge);

    text-shadow: none;
    -gtk-icon-shadow: none;
  }
}

toolbar {
  @include headerbar_fill;
  
   button {
      $_hc: mix($top_hilight,$selected_bg_color, 50%); // hilight color
      @include toolbutton(normal, $selected_bg_color, $fg_color, $_hc);

      &.flat { @include toolbutton(undecorated); }

      &:hover { @include toolbutton(hover, $selected_bg_color, $fg_color, $_hc); }

      &:active, &:checked { @include toolbutton(active, $selected_bg_color, $fg_color, $_hc); }
    
      &.flat:disabled {
        @include toolbutton(undecorated);
      }

      &:disabled {
        @include toolbutton(disabled, $selected_bg_color, $fg_color, $_hc);

        &:active, &:checked { @include toolbutton(disabled-active, $selected_bg_color, $fg_color, $_hc); }
      }

      &.suggested-action {
        @include toolbutton(normal);
        border-color: $selected_borders_color;

        &:hover {
          @include toolbutton(hover);
          border-color: $selected_borders_color;
        }

        &:active {
          @include toolbutton(active);
          border-color: $selected_borders_color;
        }

        &:disabled {
          @include toolbutton(disabled);
          border-color: $selected_borders_color;
        }
      }
    }
}